pkgbase = penguinwave-bin
	pkgdesc = PipeWire virtual-sink manager and headset ChatMix control for Linux (prebuilt binary)
	pkgver = 0.2.0
	pkgrel = 1
	url = https://github.com/TempesTech/PenguinWave
	arch = x86_64
	license = Apache-2.0
	depends = pipewire
	depends = pipewire-pulse
	depends = wireplumber
	depends = hidapi
	depends = webkit2gtk-4.1
	depends = gtk3
	depends = libayatana-appindicator
	optdepends = waybar: system-tray host for wlroots/niri compositors
	optdepends = polkit: privileged udev-rule install from the in-app Maintenance page
	provides = penguinwave
	conflicts = penguinwave
	source = penguinwave-bin-0.2.0.deb::https://github.com/TempesTech/PenguinWave/releases/download/v0.2.0/PenguinWave_0.2.0_amd64.deb
	source = 99-penguinwave-0.2.0.rules::https://github.com/TempesTech/PenguinWave/raw/v0.2.0/PenguinWave/packaging/99-penguinwave.rules
	source = LICENSE-0.2.0::https://github.com/TempesTech/PenguinWave/raw/v0.2.0/LICENSE
	sha256sums = 04f82f9bae70e873577a96740a1112ae0125694c927af821a08c289951c688c6
	sha256sums = e5a24a02dddd7522e5fe59f8331337df8807599c4dffd415a5f34aa715748c63
	sha256sums = c312aa6b1c2c79fff271da06a8a5f4258ba7f6a7b7bd2d53b2a342de2553f6cb

pkgname = penguinwave-bin
