pkgbase = penguinwave
	pkgdesc = PipeWire virtual-sink manager and headset ChatMix control for Linux
	pkgver = 0.3.0
	pkgrel = 1
	url = https://github.com/TempesTech/PenguinWave
	arch = x86_64
	license = Apache-2.0
	makedepends = rust
	makedepends = cargo
	makedepends = nodejs
	makedepends = npm
	makedepends = pkgconf
	depends = penguinwave-daemon
	depends = webkit2gtk-4.1
	depends = gtk3
	depends = libayatana-appindicator
	optdepends = polkit: privileged udev-rule install from the in-app Maintenance page
	source = penguinwave-0.3.0.tar.gz::https://github.com/TempesTech/PenguinWave/archive/refs/tags/v0.3.0.tar.gz
	sha256sums = SKIP

pkgname = penguinwave
